
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" 
                            href="#">
                            &copy; Order Flow Optimizer
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    Trabajo Fin de Master. EIP International Business School
                </p>
            </nav>
        </div>
    </footer>
