{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row" style="flex-direction: column;">
            <p style="color: slategrey; text-align: center;">AÑADIR REGISTRO</p>
            </div>
            <div class="row" style="flex-direction: column;">
                <form action="/registrar_gestor" method="post" id="form_registro">
                    <!-- Campo oculto para el token CSRF -->
                    <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
                    <!-- PRIMERA FILA DE CONTROLES -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="Nombre" style="color: slategrey; font-size:14px;">Nombre</label>
                            <input type="text" id="Nombre" name="Nombre" placeholder="Nombre del Gestor"
                            class="form-control form-control-sm" pattern="[^,]*" title="No se permiten comas en este campo"/>
                        </div>
                        <div class="form-group col">
                            <label for="Apellidos" style="color: slategrey; font-size:14px;">Apellidos</label>
                            <input type="text" id="Apellidos" name="Apellidos" placeholder="Apellidos del gestor"
                            class="form-control form-control-sm" pattern="[^,]*" title="No se permiten comas en este campo"/>
                        </div>
                        <div class="form-group col">
                            <label for="DNI" style="color: slategrey; font-size:14px;">DNI</label>
                            <input type="text" id="DNI" name="DNI" pattern="[A-Za-z0-9]{9}" placeholder="DNI del gestor"
                            class="form-control form-control-sm"/>
                        </div>
                        <div class="form-group col">
                            <label for="Zona_Geo" style="color: slategrey; font-size:14px;">Zona Geográfica</label>
                            <input type="text" id="Zona_Geo" name="Zona_Geo" placeholder="12345678A"
                            class="form-control form-control-sm"/>
                        </div>


                    </div>



                    <div class="form-row" style="justify-content: center;">
                        <input type="submit" id="send-signup" name="signup" value="Registrar" class="btn btn-primary" style="margin: 2px;"/>
                        <input type="reset" value="Limpiar formulario" class="btn btn-primary" style="margin: 2px;">
                    </div>
                    
                    <hr>
                </form>
            </div>

            <!-- FILTROS DE BUSQUEDA -->
            <div class="row" style="flex-direction: column;">
                <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-2">
                        <input class="form-control" id="filtroNombre" type="text" placeholder="Nombre...">
                    </div>
                    <div class="form-group col-2">
                        <input class="form-control" id="filtroApellidos" type="text" placeholder="Apellidos...">
                    </div>
                    <div class="form-group col-4">
                        <input class="form-control" id="filtroDNI" type="text" placeholder="DNI...">
                    </div>
                    <div class="form-group col-2">
                        <input class="form-control" id="filtroZona" type="text" placeholder="Zona Geográfica...">
                    </div>
                </div>
            </div>  


            <!-- TABLA -->
            <div class="row" style="flex-direction: column;">
                <div class="table-wrap" style="height: 400px; background-color: rgba(201, 38, 38, 0);font-size: small">
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!------------------------------------------- Specific Page JS goes HERE  ------------------------------------------------------>
{% block javascripts %}

    <!--<script type="text/javascript" src="{{url_for('static', filename='assets/js/miscript.js')}}"></script>-->

<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="./static/assets/js/plugins/xlsx.full.min.js"></script>
<script src="./static/assets/js/plugins/FileSaver.min.js"></script>
<script src="./static/assets/js/plugins/tableexport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.core.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<script type = "text/javascript">

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("form_registro").addEventListener('submit', validarFormulario);
        addRowHandlers();        
    }); 


    function validarFormulario(evento) {//Comprobamos que los campos del formulario no están vacios
        evento.preventDefault();
        if (Nombre.value == "" || Apellidos.value=='' || DNI.value=='' || Zona_Geo.value=='' ){ 
            Swal.fire({
                title: 'Falta algún campo por cumplimentar',
                icon: 'error'
            });
            return;
        } else {
            this.submit();
        }
    }

</script>

<script type = "text/javascript">
   
    function addRowHandlers() {
        var table = document.getElementById("tabla_gestores");
        var rows = table.getElementsByTagName("tr");

        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
                return function() {
                    var cell = row.getElementsByTagName("td")[0];
                    var id = cell.innerHTML;
                    cargarDatosAlert(id,row);
                };
            };

            currentRow.ondblclick = createClickHandler(currentRow);
        }
    }

    
    function cambiarValor(){
        var table = document.getElementById("tabla_gestores");
        var rows = table.getElementsByTagName("tr");

        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
            return function() {
                var cell = row.getElementsByTagName("td")[1];
                var id = cell.innerHTML;
            };
            };
        }
    }


    function parseDNI(DniM) {
    // Esta regex valida un DNI de 9 caracteres con 8 dígitos y una letra
    var regex = /^\d{8}[A-Za-z]$/;
    
    // Comprueba que el DNI tenga exactamente 9 caracteres y que los primeros 8 sean dígitos y el último una letra
    if (!regex.test(DniM)) {
        return NaN;
    }

    // Comprueba que la letra sea correcta
    var letras = "TRWAGMYFPDXBNJZSQVHLCKE";
    var numero = parseInt(DniM.substring(0, 8), 10);
    var letra = DniM[8].toUpperCase();
    if (letras[numero % 23] !== letra) {
        return NaN;
    }

    // Si el DNI es válido, devuélvelo tal cual
    return DniM;
}


    function cargarDatosAlert(id,elemento){//CARGARÁ LOS DATOS DE LA FILA SELECCIONADA DENTRO DEL POPUP O ALERT

        var Nombre = elemento.getElementsByTagName("td")[1].innerHTML;
        var Apellidos = elemento.getElementsByTagName("td")[2].innerHTML;
        var DNI = elemento.getElementsByTagName("td")[3].innerHTML;
        var Zona_Geo = elemento.getElementsByTagName("td")[4].innerHTML;


                
        //CONFIGURAMOS EL ALERT
        Swal.fire({
            title: 'Modificar Registro',
            width: '60%',
            showCancelButton: true,
            showDenyButton: true,
            denyButtonText: `Eliminar`,
            CancelButtonText: 'Cancelar',
            returnInputValueOnDeny: false,
            confirmButtonColor: "#089925",

            html:
                `
                    <!-- PRIMERA FILA DE CONTROLES -->

                    <div class="form-row" style="width:100%">
                        <div class="form-group col-md-3">
                            <label for="Nombrem" style="color: slategrey; font-size:14px;">Nombre</label>
                            <input type="text" id="Nombrem" name="Nombrem" placeholder="CIF del cliente"
                            class="form-control form-control-sm" value="`+Nombre+`"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Apellidosm" style="color: slategrey; font-size:14px;">Apelidos</label>
                            <input type="text" id="Apellidosm" name="Apellidosm" placeholder="Nombre del cliente"
                            class="form-control form-control-sm" value="`+Apellidos+`"/>
                        </div> 
                        <div class="form-group col-md-3">
                            <label for="DNIm" style="color: slategrey; font-size:14px;">DNI</label>
                            <input type="text" id="DNIm" name="DNIm" pattern="[A-Za-z0-9]{9}" placeholder="Dirección del cliente"
                            class="form-control form-control-sm" value="`+parseDNI(DNI)+`"/>
                        </div> 
                        <div class="form-group col-md-3">
                            <label for="Zona_Geom" style="color: slategrey; font-size:14px;">Zona Geográfica</label>
                            <input type="text" id="Zona_Geom" name="Zona_Geom" placeholder="Tipo del cliente"
                            class="form-control form-control-sm" value="`+Zona_Geo+`"/>
                        </div> 

                    </div>
                `,
                            
            preConfirm: () => { 
                // VAMOS A CARGAR LOS DATOS QUE HAY EN LOS INPUT
                var indice = parseInt(id);

                return [
                    indice,
                    document.getElementById('Nombrem').value,
                    document.getElementById('Apellidosm').value,
                    parseDNI(document.getElementById('DNIm').value),
                    document.getElementById('Zona_Geom').value,

                ];
                
            }

            
        }) .then((result) => {
            if (result.isConfirmed) {

                fetch('gestores.html', {
                        method: 'PUT',
                        body: JSON.stringify(result.value), // data can be `string` or {object}!
                        headers:{
                            'Content-Type': 'application/json'
                        }
                }).then(res => res.json())
                .then(response => console.log('Success:', JSON.stringify(response)))
                .catch(error => console.error('Error:', error));

                Swal.fire({
                    title: 'Cambios realizados correctamente', 
                    icon: 'success'
                }) .then((result) => {  //UNA VEZ SE ACEPTE EL POPUP DE CAMBIOS REALIZADOS SE RECARGARÁ LA PÁGINA
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });

            } else if (result.isDenied) { //SI EL USUARIO SELECCIONA BORRAR, LE VOLVEMOS A PREGUNTAR SI ESTÁ SEGURO
                swal.fire({
                    title: "¿Seguro que quieres borrar el registro?",
                    showCancelButton: true,
                    CancelButtonText: "No",
                    confirmButtonColor: "#d50000",
                    icon: "error",
                    iconHtml: "🗑",
                    }) .then((result) => {
                        if (result.isConfirmed) {

                            const datosM = {indice: id};
                            fetch('gestores.html', {
                                method: 'PUT',
                                body: JSON.stringify(datosM), // data can be `string` or {object}!
                                headers:{
                                    'Content-Type': 'application/json'
                                }
                            }).then(res => res.json())
                            .then(response => console.log('Success:', JSON.stringify(response)))
                            .catch(error => console.error('Error:', error));

                            location.reload();
                        }
                    })

                }
        })
        }

</script>

<script type = "text/javascript">

    // FUNCIONES DE BUSQUEDA PARA APLICAR A LOS FILTROS DE LA TABLA
    $(document).ready(function(){
    
        function applyFilters() {
            var filtroNombre = $("#filtroNombre").val().toLowerCase();
            var filtroApellidos = $("#filtroApellidos").val().toLowerCase();
            var filtroDNI = $("#filtroDNI").val().toLowerCase();
            var filtroZona = $("#filtroZona").val().toLowerCase();


            $("#tabla_gestores tbody tr").each(function() {
                var columnaNombre = $(this).find('td:eq(1)').text().replace(/\s+/g, ' ').toLowerCase();
                var columnaApellidos = $(this).find('td:eq(2)').text().replace(/\s+/g, ' ').toLowerCase();
                var columnaDNI = $(this).find('td:eq(3)').text().replace(/\s+/g, ' ').toLowerCase();
                var columnaZONA = $(this).find('td:eq(4)').text().replace(/\s+/g, '').toLowerCase();

                var mostrar = true;

                if (filtroNombre && columnaNombre.indexOf(filtroNombre) === -1) mostrar = false;
                if (filtroApellidos && columnaApellidos.indexOf(filtroApellidos) === -1) mostrar = false;
                if (filtroDNI && columnaDNI.indexOf(filtroDNI) === -1) mostrar = false;
                if (filtroZona && columnaZONA.indexOf(filtroZona) === -1) mostrar = false;

                $(this).toggle(mostrar);
            });
        }
    
        $("#filtroNombre, #filtroApellidos, #filtroDNI, #filtroZona").on("keyup", applyFilters);
    });
</script>

{% endblock javascripts %}
