{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row" style="flex-direction: column;">
            <p style="color: slategrey; text-align: center;">AÑADIR USUARIO</p>
            </div>
            <div class="row" style="flex-direction: column;">
                <form method="post" action="/registrar_usuarios">
                                
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="" required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label>eMail</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="" required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row" style="justify-content: center;">
                        <input type="submit" id="send-signup" name="signup" value="Registrar" class="btn btn-primary" style="margin: 2px;"/>
                        <input type="reset" value="Limpiar formulario" class="btn btn-primary" style="margin: 2px;">
                    </div>
                    <hr>
                </form>
            </div>

            <!-- TABLA -->
            <div class="row" style="flex-direction: column;">
                <div class="table-wrap" style="height: 400px; background-color: rgba(201, 38, 38, 0);font-size: small">
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<!------------------------------------------- INICIO DE MENSAJES DE ALERTA  ------------------------------------------------------>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %} 

{% endblock content %}

<!------------------------------------------- Specific Page JS goes HERE  ------------------------------------------------------>
{% block javascripts %}

    <!--<script type="text/javascript" src="{{url_for('static', filename='assets/js/miscript.js')}}"></script>-->

<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="./static/assets/js/plugins/xlsx.full.min.js"></script>
<script src="./static/assets/js/plugins/FileSaver.min.js"></script>
<script src="./static/assets/js/plugins/tableexport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.core.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<script type = "text/javascript">

    document.addEventListener("DOMContentLoaded", function() {
        //document.getElementById("form_registro").addEventListener('submit', validarFormulario);
        addRowHandlers();        
    }); 


    // function validarFormulario(evento) {//Comprobamos que los campos del formulario no están vacios
    //     evento.preventDefault();
    //     if (Cash.value == "" || Linea_max_Confirming.value=='' || Num_Cuenta.value=='' || Banco.value==''){ 
    //         Swal.fire({
    //             title: 'Falta algún campo por cumplimentar',
    //             icon: 'error'
    //         });
    //         return;
    //     } else {
    //         this.submit();
    //     }
    // }

</script>

<script type = "text/javascript">
   
    function addRowHandlers() {
        var table = document.getElementById("tabla_usuarios");
        var rows = table.getElementsByTagName("tr");

        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
                return function() {
                    var cell = row.getElementsByTagName("td")[0];
                    var id = cell.innerHTML;
                    cargarDatosAlert(id,row);
                };
            };

            currentRow.ondblclick = createClickHandler(currentRow);
        }
    }

    

    function cargarDatosAlert(id,elemento){//CARGARÁ LOS DATOS DE LA FILA SELECCIONADA DENTRO DEL POPUP O ALERT


        var user_id = elemento.getElementsByTagName("td")[0].innerHTML;
        var username = elemento.getElementsByTagName("td")[1].innerHTML;
        var rol = elemento.getElementsByTagName("td")[2].innerHTML;
        var nombre = elemento.getElementsByTagName("td")[3].innerHTML;
        var apellidos = elemento.getElementsByTagName("td")[4].innerHTML;
        var direccion = elemento.getElementsByTagName("td")[5].innerHTML;
        var email = elemento.getElementsByTagName("td")[6].innerHTML;

        //VAMOS A CREAR UN SELECT CON EL VALOR ELEGIDO DE TIPO DE PAGO
        if (rol == "administrador"){
            cadenaHTMLrol = `
                <select id="rolM" name="rolM" class="col-md-10 form-control"
                    style="max-width: 100%;background-color: white;" >
                        <option selected>administrador</option>
                        <option>gestor</option>
                </select>`
        } else {
            cadenaHTMLrol = `
                <select id="rolM" name="rolM" class="col-md-10 form-control"
                    style="max-width: 100%;background-color: white;" >
                        <option >administrador</option>
                        <option selected>gestor</option>
                </select>`
        }
                
        //CONFIGURAMOS EL ALERT
        Swal.fire({
            title: 'Modificar Registro',
            width: '60%',
            showCancelButton: true,
            showDenyButton: true,
            denyButtonText: `Eliminar`,
            CancelButtonText: 'Cancelar',
            returnInputValueOnDeny: false,
            confirmButtonColor: "#089925",

            html:
                `
                    <!-- PRIMERA FILA DE CONTROLES -->

                    <div class="form-row" style="width:100%">
                            <div class="form-group col-md-1">
                                <label>ID</label>
                                <input type="text" id="user_idM" name="user_idM" placeholder="id de usuario"
                                class="form-control" readonly value="`+user_id+`"/>
                            </div>
                            <div class="form-group col-md">
                                <label>Username</label>
                                <input type="text" id="usernameM" name="usernameM" placeholder="nombre de usuario"
                                class="form-control" value="`+username+`"/>
                            </div>
                            <div class="form-group col-md">
                                <label>Email</label>
                                <input type="text" id="emailM" name="emailM" placeholder="Email"
                                class="form-control" value="`+email+`"/>
                            </div> 
                            <div class="form-group col-md-3">
                                <label>Rol</label>` + 
                                cadenaHTMLrol + `
                            </div>
                    </div>
                    <div class="form-row" style="width:100%">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" id="nombreM" name="nombreM" class="form-control" placeholder="Nombre" value="`+nombre+`"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" id="apellidosM" name="apellidosM" class="form-control" placeholder="Apellidos" value="`+apellidos+`"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="width:100%">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" id="direccionM" name="direccionM" class="form-control" placeholder="Calle..." value="`+direccion+`"/>
                            </div>
                        </div>
                    </div>
                `,
                            
            preConfirm: () => { 
                // VAMOS A CARGAR LOS DATOS QUE HAY EN LOS INPUT
                var indice = parseInt(id);

                return [
                    indice,
                    document.getElementById('usernameM').value,
                    document.getElementById('emailM').value,
                    document.getElementById('rolM').value,
                    document.getElementById('nombreM').value,
                    document.getElementById('apellidosM').value,
                    document.getElementById('direccionM').value,
                ];
                
            }

            
        }) .then((result) => {
            if (result.isConfirmed) {

                fetch('lista_usuarios.html', {
                        method: 'PUT',
                        body: JSON.stringify(result.value), // data can be `string` or {object}!
                        headers:{
                            'Content-Type': 'application/json'
                        }
                }).then(res => res.json())
                .then(response => console.log('Success:', JSON.stringify(response)))
                .catch(error => console.error('Error:', error));
                location.reload();

            } else if (result.isDenied) { //SI EL USUARIO SELECCIONA BORRAR, LE VOLVEMOS A PREGUNTAR SI ESTÁ SEGURO
                swal.fire({
                    title: "¿Seguro que quieres borrar el registro?",
                    showCancelButton: true,
                    CancelButtonText: "No",
                    confirmButtonColor: "#d50000",
                    icon: "error",
                    iconHtml: "🗑",
                    }) .then((result) => {
                        if (result.isConfirmed) {

                            const datosM = {indice: id};
                            fetch('lista_usuarios.html', {
                                method: 'PUT',
                                body: JSON.stringify(datosM), // data can be `string` or {object}!
                                headers:{
                                    'Content-Type': 'application/json'
                                }
                            }).then(res => res.json())
                            .then(response => console.log('Success:', JSON.stringify(response)))
                            .catch(error => console.error('Error:', error));

                            location.reload();
                        }
                    })

                }
        })
        }

</script>

{% endblock javascripts %}
